/* CSS Code by SKCro */
/* note from awes145: thank you skcro */
/* also, thanks Kris Perry */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap); /* Import Montserrat font from Google */

body{
    margin:0;
    font-family:Montserrat,Helvetica,MS Sans Serif,Arial,sans-serif; /* Use Montserrat first, then use other fonts as fallbacks in case it can't be loaded */
    font-size:18pt;
    font-weight:400;
    text-align:center;
    background-repeat: no-repeat;
    color:#020202; /* Set font color to off-black */
    background:linear-gradient(#ff0600,#ff6a00,#ff6a00,#ff0600) #ff6a00;
    background-size:100vw 100vh;
    text-shadow:2px 2px 1px #0004;
    padding-bottom: 50px;
}

input {
  background:linear-gradient(#ff0600,#ff6a00,#ff6a00,#ff0600) #ff6a00;
  border: 1px solid black;
  border-radius: 12px;
  font-family: Montserrat,Helvetica,MS Sans Serif,Arial,sans-serif;
  color: black;
  height: 47px;
  width: 350px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: bottom;
}

button {
  background:linear-gradient(#ff0600,#ff6a00,#ff6a00,#ff0600) #ff6a00;
  border: 1px solid black;
  border-radius: 12px;
  font-family: Montserrat,Helvetica,MS Sans Serif,Arial,sans-serif;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a,a:visited{color:#040404;}
::selection{
    border:1px solid #000d;
    background:#000a;
    color:#f0f0f0;
    text-shadow:2px 2px 1px #000;
}

code{
    font-family:Consolas,monospace; /* Use monospace font for codeblocks */
    margin:8px 0;
    border:1px solid #000d;
    border-radius:8px;
    padding:4px;
    color:#f0f0f0;
    text-shadow:2px 2px 1px #000;
    background:#0008; /* Use half-transparent background for codeblocks */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:linear-gradient(#ff0600,#ff6a00,#ff6a00,#ff0600) #ff6a00;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background:linear-gradient(#ff6a00,#ff0600,#ff0600,#ff6a00) #ff0600;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background:linear-gradient(#ff0600,#ff6a00,#ff6a00,#ff0600) #ff6a00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
